<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/MultiChannelChat/src/es/psp/ae2/Servidor.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="es.psp.ae2.Servidor"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="MultiChannelChat"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MultiChannelChat"/>
</launchConfiguration>
